<%= link_to user_infos_path(user) do %>
<div class="user-color-<%= user&.overall_rank_color %>">
  <div class="user-card">
    <div class="user-card-level">
      <h2><%= user.overall_rank_name || "No rank" %></h2>
    </div>
    <div class="user-card-info">
      <h2><%= user&.full_name %></h2>
      <h6><%= user&.katas_completed_count %> katas completed</h6>
      <h6>Favorite language is <%= user&.preferred_language %></h6>
    </div>
  </div>
</div>
<% end %>
