<nav class="navbar">

  <div class="navbar-content-wrapper">
    <div class="navbar-content">
      <%= link_to "Home", root_path %>
      <%= link_to "Dashboard", dashboard_path if user_signed_in? %>
      <%= link_to "Leaderboard", leaderboard_path if user_signed_in? %>
      <%= link_to "All Katas", katas_path if user_signed_in? %>

      <%= link_to "Connection", new_user_session_path unless user_signed_in? %>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= link_to dashboard_path, class: "navbar-user-infos user-color-#{current_user.overall_rank_color}" do %>
      <h2><%= current_user.codewars_nickname %></h2>
      <h6><%= current_user.solutions.count %> katas solved</h6>
    <% end %>
  <% end %>
</nav>

