<nav class="navbar">
  <div class="navbar-content-centerer">
    <div class="navbar-content">
      <%= link_to "Home", root_path %>
      <%= link_to "Dashboard", dashboard_path if user_signed_in? %>
      <%= link_to "All Katas", katas_path if user_signed_in? %>
      <%= link_to "Update profile", api_update_user_path(current_user), method: :patch if user_signed_in? %>
      <%= link_to "Fetch new katas", fetch_katas_path if user_signed_in? %>
      <%= link_to "Connection", new_user_session_path unless user_signed_in? %>
    </div>
  </div>
</nav>

