<%= link_to kata_path(kata), class: "kata-card-link-wrapper" do %>
  <div class="kata-card" style="background: <%= kata&.color %>">
    <div class="kata-card-infos">
      <%= kata&.rank["name"] %> | <%= kata&.title %> - <em><%= kata&.solutions.count %> solutions</em>
    </div>
    <div class="kata-card-ctas">
    </div>
  </div>
<% end %>

